@media(max-width:1250px) {
    .mywork2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .resu1 p {
        padding-left: 50px;
    }

    .abo1 {
        padding-right: 25px;
    }

}

@media(max-width:770px) {
    .nav2 {
        display: none;
    }

    .nav2 b
    {
        display: block;
        padding: 10px 0;
    }

    .fa-bars-staggered
    {
        display: block !important;
    }

    .mywork2 {
        flex-wrap: wrap;
        gap: 0;
    }

    .nav1
    {
        width: 100%;
    }

    .work,
    .po-img1,
    .resu1,
    .resu2,
    .social {
        width: 100%;

    }

    .mywork1 {
        padding-left: 80px;
    }

    .port-img {
        flex-direction: column;
    }

    .abo1 {
        padding: 20px;
        width: 100%;
    }

    .formyou {
        width: 95%;
    }


}